
{% if not in_empty_case %}

   <div class="pageslist">

        {% if page.has_next and not page.is_before_last %}
            <span><a href="{{page.url_next}}">  »</a></span>
        {% else %}
               <span><a href="#" disabled="true">  »</a></span>
        {% endif %}
        {% if page.has_next %}
            <span><a href="{{page.url_last}}"> ...{{ paginator.num_pages }} </a></span>
        {% endif %}

        {% if page.has_previous or  page.has_next %}
               <span class="selected"><b>{{ page.number }}</b></span>
        {% endif %}
        {% if page.has_previous %}
               <span><a href="{{page.url_first}}">1...</a></span>
        {% endif %}

        {% if page.has_previous and not page.is_before_first %}
               <span><a href="{{page.url_previous}}">«  </a></span>
        {% else %}
               <span><a href="#" disabled="true">«  </a></span>
        {% endif %}

    </div>

{% endif %}
