{% extends "base.html" %}

{% block title %}À propos de ce système{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">À propos de ce système</h1>{% endblock %}

{% block content %}

<div id="context">
    <h2>Titre du projet</h2>
    <p>Projet d appui au Ministère de la santé dans la prise en charge
        et la prévention de la malnutrition aiguë et introduction des
        nouvelles technologies de Rapid-SMS pour le système de suivi
        nutritionnel de la commune V, District de Bamako, Mali.
    </p>
    <h2>Résumé du projet</h2>
    <p>Le projet vise la réduction de la morbidité de la mortalité des
        enfants de 6-59 mois à travers l appui à la prise en charge et la
        prévention de la malnutrition dans la commune V du district de
        Bamako.
    </p>
    <p>Le projet va utiliser les nouvelles technologies (Rapid-
        SMS) pour la collecte et la transmission des données de
        malnutrition. Les volontaires de la Croix-Rouge malienne seront
        mobilisés pour la détection rapide des cas de malnutrition, la
        sensibilisation des populations sur les Pratiques Familiales
        Essentielles, l appui à la prise en charge et la transmission des
        données collectées.
    </p>
    <p>Les agents de santé seront formés sur la
        prise en charge des cas de malnutrition aiguë selon les
        directives du protocole national.
    </p>
    <h2>Objectif spécifique</h2>
    <p>Appuyer le Ministère de la Santé dans la prise en charge et la
        prévention de la malnutrition dans la commune V de Bamako et
        introduire les nouvelles technologies pour le suivi nutritionnel
        (Rapid-SMS).
    </p>
    <h2>Résultats</h2>
    <ol>
        <li>La prise en charge médico-nutritionnelle des enfants de moins de 5 ans est améliorée.</li>
        <li>Les connaissances des populations sur les Pratiques Familiales Essentielles (PFE) sont renforcées à travers les agents de santé
            et le réseau de volontaires de la Croix-Rouge malienne dans la
            zone d intervention.</li>
        <li>La méthode de collecte de données nutritionnelles par rapid-SMS (envoi d information par sms) est introduite et comparée à
            la collecte par registre.
        </li>
    </ol>
    <h2>Partenaires</h2>
    <ul>
        <li>Croix Rouge Malienne et Ministère de la Santé du Mali</li>
    </ul>
    <h2>Pays</h2>
    <ul>
        <li>Mali</li>
    </ul>
    <h2>Zone d intervention</h2>
    <ul>
        <li>Commune V du district de Bamako</li>
    </ul>
    <h2>Bénéficiaires directs</h2>
    <ul>
        <li>Bénéficiaires totaux : 44361</li>
        <li>41 102 enfants de 6 à 59 dépistés</li>
        <li>2 877 enfants de 6 à 59 mois malnutris aigus modérés</li>
        <li>164 enfants de 6 à 59 mois malnutris aigus sévères</li>
        <li>3 205 bénéficiaires de l éducation aux Pratiques Familiales Essentielles</li>
        <li>36 volontaires Croix-Rouge malienne</li>
        <li>18 agents de santé</li>
    </ul>
    <h2>Contacts Organisations</h2>
    <table>
        <tr><td>Sophie Goudet</td><td>Chef de Délégation CRF au mali</td><td>Hod-mali.frc@croix-rouge.fr</td><td>78784699</td></tr>
        <tr><td>Mwenelwata Wilondja Christophe</td><td>Assistant technique nutrition CRF</td><td>nut-bamako.frc@croix-rouge.fr</td><td>71087005</td></tr>
        <tr><td>Mr Mamadou M. TRAORE</td><td>Secrétaire Exécutif de la CRM</td><td></td><td>76465748</td></tr>
    </table>


</div>

{% endblock %}
