{% extends "base.html" %}

{% block title %}À propos de ce système{% endblock %}
{% block pagetitle %}<h1 class="pagetitle"></h1>{% endblock %}

{% block content %}
<div id="context">
<h2>Contexte Justification</h2>
<p>Système d'information de routine sur le suivi de la sécurité alimentaire et nutritionnelle. Données SMS. </p>

<p></p>

<p></p>

<h2>Objectif Général</h2>
<p></p>

<h2>Objectifs Spécifiques</h2>


<h2>Qui fait quoi ?</h2>


<h2>Crédits</h2>
<p>Cet outil a été réalisé avec (entres autres) le concours des personnes suivantes:</p>
<ul>
<li>Mr Renaud Gaudin, yɛlɛman</li>
<li>Mr Alou Dolo, yɛlɛman</li>
<li>Mr Ibrahima Fadiga, yɛlɛman</li>
</ul>
</div>
{% endblock %}
