{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>nut | {% block title %}La croix rouge malienne{% endblock %}</title>
    <link rel="stylesheet" media="screen" type="text/css" href="{% url media 'red_nut.css' %}" title="nut 2011" />
    <link rel="stylesheet" media="print" type="text/css" href="{% url media 'print.css' %}" />
    <link rel="shortcut icon" href="{% url media 'images/nut_favicon.png' %}" />
    {% block javascript %}{% endblock %}
    <meta http-equiv="Content-Language" content="fr-fr" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="Copyright" content="CROIX ROUGE, ANTIM, YELEMAN" />
    <meta name="keywords" content="CROIX ROUGE, mali, paludisme, antim, sms" />
    <meta name="description" content="Système d'information de routine sur le suivi de la sécurité alimentaire et nutritionnelle. Données SMS et Web." />
</head>
<body>
    <div id="page">
        <div id="header" class="mainbox">
            <div id="logo"></div>
            <h1><a href="/"> </a></h1>

            <div id="breadcrumbs">{%block breadcrumbs %}{% endblock %}</div>
            <div id="menu">{% include "menu.html" with category=category%}</div>
        </div>
        {% block submenu %}{% endblock %}
        <div id="content" class="mainbox {% block page-name %}default{% endblock %} {% block content-class %}{% endblock %}">
        {% if messages %}
        <ul id="messages" title="{% trans 'Informative Messages. Click to hide.' %}">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block pagetitle %}{% endblock %}
        {% block content %}
        {% endblock %}
        </div>
        <div id="footer">
        <ul>
            <li><a href="#" title="{% trans 'Contact Us' %}">{% trans "Contact" %}</a></li>
            <li><a href="#" title="{% trans 'About nut' %}">{% trans "About" %}</a></li>
            <li><a href="#" title="Documents et téléchargements">Ressources</a></li>
        </ul>
        </div>
        <div id="top-link"><a class="anchor" href="">↑Haut</a></div>
    </div>
</body>
<script type="text/javascript" src="{% url media 'jquery-1.6.2.min.js' %}"></script>
<script type="text/javascript" src="{% url media 'red_nut.js' %}"></script>
{% if category == 'indicator_data' %}<script type="text/javascript" src="{% url media 'highcharts.js' %}"></script>{% endif %}
<script type="text/javascript">
$(document).ready(function(){
    addMessagesClickEvent();
    addLogoClickEvent('{% url index %}');
    {% block jqueryonload %}{% endblock %}
    {% if category != 'indicator_data' %}addJavascript("{% url media 'highcharts.js' %}", 'head');{% endif %}
});
</script>
</html>
