{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>nut | {% block title %}Croix Rouge NUTRITION{% endblock %}</title>
    <link rel="stylesheet" media="screen" type="text/css" href="{{ STATIC_URL }}red_nut.css" title="nut 2011" />
    <link rel="stylesheet" media="print" type="text/css" href="{{ STATIC_URL }}print.css" />
    <link rel="shortcut icon" href="#" />
    {% block javascript %}{% endblock %}
    <meta http-equiv="Content-Language" content="fr-fr" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="Copyright" content="CROIX ROUGE, YELEMAN" />
    <meta name="keywords" content="CROIX ROUGE, mali, sms" />
    <meta name="description" content="" />
</head>
<body>
    <div id="page">
        <div id="header" class="mainbox">
            {% ifnotequal categorie 'login' %}
                {% if user %}
                    <ul id="user-menu">
                    <li>{{user}}</li>
                    <li><a href="{% url logout %}" title="{% trans 'Log in' %}">{% trans "Log out" %}</a></li>
                    </ul>
                {% endif %}
            <div id="breadcrumbs">{%block breadcrumbs %}{% endblock %}</div>

            <div id="menu">{% include "menu.html" with category=category%}</div>
            {% endifnotequal %}

        </div>
        {% block submenu %}{% endblock %}
        <div id="content" class="mainbox {% block page-name %}default{% endblock %} {% block content-class %}{% endblock %}">
        {% block pagetitle %}<h1 class="pagetitle">Suivi des données de malnutrition Bamako</h1>{% endblock %}
        {% block content %}
        {% endblock %}
        </div>
        <div id="footer">
        <ul>
            <li><a href="{% url about %}" title="À propos">À propos</a></li>
        </ul>
        </div>
        <div id="top-link"><a class="anchor" href="">↑Haut</a></div>
    </div>
</body>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}red_nut.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}highcharts.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        addMessagesClickEvent();
        addLogoClickEvent('{% url index %}');
        {% block jqueryonload %}{% endblock %}
        {% if category != 'dashboard' %}addJavascript("{{ STATIC_URL }}highcharts.js", 'head');{% endif %}
    });
</script>
</html>
