{% extends "base.html" %}
{% load babel %}
{% load nut %}

{% block title %}Enfants{% endblock %}

{% block jqueryonload %}addJQeventHandlerForLargeTable();
addClickClassToTRElements();{% endblock %}
{% block content %}

<div id="context">

    <h2>Liste des enfants</h2>
    <table class="noprint">
        <tr><form action="" method="post" id="id_patient">{% csrf_token %}<td style=" border-left-width: 585px;">{{ error }}{{ message }} {{ form_r.search_patient }}</td><td><input class= "buttons" id="id_patient" type="submit" value="ok"/></td></form></tr>
    </table>
    <table class="noprint">
        <tr><form action="" method="post" id="health_center">{% csrf_token %}<td>{{ form.health_center.label }} {{ form.health_center }}</td><td><input class= "buttons" id="health_center" type="submit" value="ok"/></td></form></tr>
    </table>
    {% if patients %}
        {% include 'pagination.html' with paginator=patients %}
        <table>
            <tr><th>Identifiant</th><th>Prénom</th><th>Nom</th><th>Nom de la mère</th><th>Date de naissance</th><th>Centre de santé</th><th>Statuts</th></tr>
            {% for patient in patients.object_list %}
                <tr>
                    <td><a href="{{patient.url_patient }}">{{patient.nut_id}}</a></td><td>{{ patient.first_name.capitalize }}</td><td>{{ patient.last_name.capitalize }}</td>
                    <td>{{ patient.surname_mother.title }}</td><td>{{ patient.birth_date }}</td><td>{{ patient.health_center }}</td>
                    <td>{% ifnotequal patient.last_data_event.get_event_display "Sorti" %} {{ patient.last_data_event.get_event_display }} {% else %} {{ patient.last_data_event.get_reason_display }}{% endifnotequal %}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <table>
            <tr> <td>Votre requête ne trouve aucun patient.</td></tr>
        </table>
    {% endif %}
</div>
{% endblock %}
