{% extends "base.html" %}
{% load babel %}

{% block title %}Enfants{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Croix-Rouge Malienne pour le suivi de la sécurité alimentaire et nutritionnelle de la population</h1>{% endblock %}

{% block jqueryonload %}addJQeventHandlerForLargeTable();
addClickClassToTRElements();{% endblock %}
{% block content %}

<div id="context">

<h2>Enfants</h2>
<table>
    <tr><form action="" method="post" id="id_patient">{% csrf_token %}<td style=" border-left-width: 585px;">{{error}}{{message}} {{form_r.id_patient}}</td><td><input class= "buttons" id="id_patient" type="submit" value="ok"/></td></form></tr>
</table>
<table>
    <tr><form action="" method="post" id="seat">{% csrf_token %}<td>{{form.seat.label}} {{form.seat}}</td><td><input class= "buttons" id="seat" type="submit" value="ok"/></td></form></tr>
</table>
<table>
<tr><th>Identifiant</th><th>Prénom</th><th>Nom</th><th>Nom mère</th><th>DDN/Age</th><th>Centre de santé</th><th>Status</th></tr>
{% for patient in patients %}
<tr><td><a href="{{patient.url_patient }}">{{ patient.id }}</a></td><td>{{ patient.first_name.capitalize }}</td><td>{{ patient.last_name.capitalize}}</td><td>{{ patient.surname_mother.capitalize}}</td><td>{{ patient.DDN_Age}}</td><td>{{ patient.seat}}</td><td>{{ patient.status }}</td></tr>
{% endfor %}
</table>
</div>

{% endblock %}
</script>
