{% extends "base.html" %}
{% load babel %}

{% block title %}{{patient.full_name.capitalize }}{% endblock %}
{% block jqueryonload %}{% include "indicator_graph.js" with graph=widget id=widget.id graph_data=graph_data %}
{% include "graph_zscore.js" with zscore=widget id=widget.id  graph_zscore=zscore_data %}{% endblock %}
{% block content %}

<div id="context">
    {% if patient %}
    <h2>Information de l'enfant</h2>
        <table>
            <tr><th>Identifiant</th><td>{{patient.nut_id}}</td> </tr>
            <tr><th>Malnutrition</th><td>{{diagnosis}}</td></tr>
            <tr><th>Contact</th><td>{{patient.contact}}</td></tr>
            <tr><th>Statut</th><td>{{ patient.status }}</td> </tr>
            <tr><th>Nom</th><td>{{patient.last_name.capitalize}}</td> </tr>
            <tr><th>Prénom</th><td>{{patient.first_name.capitalize}}</td></tr>
            <tr><th>Nom de la mère</th><td>{{patient.surname_mother.capitalize}}</td></tr>
            <tr><th>Sexe</th><td>{{patient.get_sex_display}}</td></tr>
            <tr><th>Gain de poids</th><td>{{patient.weight_gain}} g/ kg/ jour</td></tr>
            <tr><th>Date de naissance</th><td>{{patient.birth_date}}</td></tr>
            <tr><th>Date d'enregistrement</th><td>{{patient.create_date}}</td></tr>
            {% if output %}
                <tr><th>Date de sortie</th><td>{{output.date}}</td></tr>
            {% endif %}
            <tr><th> Centre de santé</th><td>{{patient.health_center}}</td></tr>
        </table>
    {% endif %}

    {% if datanut %}
        <h2>dernier détail nutritionnel</h2>
        <table>
            <tr><th>Zscore</th><td>{{datanut.zscore}}</td></tr>
            <tr><th>Poids</th><td>{{datanut.weight}} kg </td></tr>
            <tr><th>Taille</th><td>{{datanut.height}} cm </td></tr>
            <tr><th>Oedème</th><td> {% if datanut.oedema %}{{datanut.get_oedema_display}}{% endif %}</td></tr>
            <tr><th>Périmètre brachial</th> <td>{{datanut.muac}} mm</td></tr>
            <tr><th>Date</th><td>{{datanut.date}}</td></tr>
        </table>
    {% endif %}

    {% if datanuts %}
        <h2>Tableau des données nutritionnelles</h2>
        <table>
            <tr>
                <th>Poids</th>
                <th>Taille</th>
                <th>Oedème</th>
                <th>Périmètre brachial</th>
                <th>Date</th>
            </tr>
            {% for datanut in datanuts %}
                <tr>
                    <td>{{datanut.weight}} kg</td>
                    <td>{{datanut.height}} cm</td>
                    <td>{% if datanut.oedema %}{{datanut.get_oedema_display}}{% endif %}</td>
                    <td>{{datanut.muac}} mm</td>
                    <td>{{datanut.date}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if error %}
        <h2>{{error}}</h2>
    {% endif %}
    {% if graph_data %}
        <h3 class="caption"><strong>Figure: </strong>Courbes d'évolution du Poids/PB</h3>
        <div id="graph"></div>
    {% endif %}
    {% if zscore_data %}
        <h3 class="caption"><strong>Figure: </strong>Évolution du z-score</h3>
        <div id="zscore"></div>
    {% endif %}
</div>

{% endblock %}
