{% extends "base.html" %}
{% load babel %}

{% block title %}Enfants{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Croix-Rouge Malienne pour le suivi de la sécurité alimentaire et nutritionnelle de la population</h1>{% endblock %}

{% block content %}

<div id="context">

{% if patient %}
<h2>Information enfant</h2>
    <table>
        <tr>
            <th>
                Nom
            </th>
            <td>
                {{patient.last_name}}
            </td>
        </tr>
        <tr>
            <th>
                Prenom
            </th>
            <td>
                {{patient.first_name}}
            </td>
        </tr>
        <tr>
            <th>
                Nom de la mere
            </th>
            <td>
                {{patient.surname_mother}}
            </td>
        </tr>
        <tr>
            <th>
                Age
            </th>
            <td>
                {{patient.DDN_Age}}
            </td>
        </tr>
        <tr>
            <th>
                Date d'enregistrement
            </th>
            <td>
                {{patient.create_date}}
            </td>
        </tr>
        <tr>
            <th>
                Date de sortie
            </th>
            <td>
                {{patient.off_date}}
            </td>
        </tr>
        <tr>
            <th>
                Status
            </th>
            <td>
                {{patient.status}}
            </td>
        </tr>
        <tr>
            <th>
                CSCOM
            </th>
            <td>
                {{patient.seat}}
            </td>
        </tr>
    </table>

{% endif %}

{% if datanut %}
<h2>Details nutritionnel</h2>
    <table>
        <tr>
            <th>
                Poids
            </th>
            <td>
                {{datanut.weight}} kg
            </td>
        </tr>
        <tr>
            <th>
                Taille
            </th>
            <td>
                {{datanut.heught}} cm
            </td>
        </tr>
        <tr>
            <th>
                PB
            </th>
            <td>
                {{datanut.pb}} cm
            </td>
        </tr>
        <tr>
            <th>
                Signe de danger
            </th>
            <td>
                {{datanut.danger_sign}}
            </td>
        </tr>
        <tr>
            <th>
                Date
            </th>
            <td>
                {{datanut.date}}
            </td>
        </tr>

    </table>
{% endif %}

{% if datanuts %}
    <h2>Tableau des données nutritionnelles</h2>
    <table>
        <tr>
            <th>
                Poids
            </th>
            <th>
                Taille
            </th>
            <th>
                PB
            </th>
            <th>
                Signe de danger
            </th>
            <th>
                Date
            </th>
        </tr>
        {% for datanut in datanuts %}
            <tr>
                <td>
                    {{datanut.weight}} kg
                </td>
                <td>
                    {{datanut.heught}} cm
                </td>
                <td>
                    {{datanut.pb}} cm
                </td>
                <td>
                    {{datanut.danger_sign}}
                </td>
                <td>
                    {{datanut.date}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if error %}
    <h2>{{error}}</h2>
{% endif %}
</div>

{% endblock %}
