{% extends "base.html" %}
{% load babel %}

{% block title %}Centre de santé{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Croix-Rouge Malienne pour le suivi de la sécurité alimentaire et nutritionnelle de la population</h1>{% endblock %}

{% block content %}

<div id="context">
    <h2>Centre de santé</h2>
    <table>
        <tr><th>Centre de santé</th><th>Nb d'enfants enregistres</th><th>Suivi</th><th>Abandon</th>
        </tr>{% for seat in seats %}<tr><td>{{seat.name}}</td><td>2555</td><td>55</td><td>655</td></tr>{% endfor %}
    </table>
</div>


{% endblock %}
