{% extends "base.html" %}
{% load babel %}

{% block title %}Centre de santé{% endblock %}

{% block jqueryonload %}addJQeventHandlerForLargeTable();
addClickClassToTRElements();{% endblock %}
{% block content %}

<div id="context">
    <h2>Liste des centres de santé</h2>
    <table>
        <tr><th>Centre de santé</th><th>Nombre de patients enregistrés</th><th>Suivis</th><th>Abandons</th></tr>
        {% for health_center in liste_health_center %}
            <tr><td><a href="{{health_center.url }}">{{health_center.health_center}}</td><td>{{health_center.nb_child}}</td><td>{{health_center.input}}</td><td>{{health_center.nb_healing}}</td></tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
