{% extends "base.html" %}
{% load babel %}

{% block title %}Centre de santé{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Croix-Rouge Malienne pour le suivi de la sécurité alimentaire et nutritionnelle de la population</h1>{% endblock %}

{% block jqueryonload %}addJQeventHandlerForLargeTable();
addClickClassToTRElements();{% endblock %}
{% block content %}

<div id="context">
    <h2>Centre de santé</h2>
    <table>
        <tr><th>Centre de santé</th><th>Nb d'enfants enregistres</th><th>Suivi</th><th>Abandon</th>
        </tr>{% for health_center in liste_health_center %}<tr><td><a href="{{health_center.url }}">{{health_center.health_center}}</td><td>{{health_center.nb_child}}</td><td>{{health_center.input}}</td><td>{{health_center.nb_healing}}</td></tr>{% endfor %}
    </table>
</div>

{% endblock %}
