{% extends "base.html" %}

{% block title %}Détails messages{% endblock %}
{% block pagetitle %}
	<h1 class="pagetitle">Système d'information de routine sur la malnutrition aigu</h1>
{% endblock %}

{% block content %}

	<div id="context">

		<h2>Messages envoyés et reçus par centre de santé</h2>

		{% if period_activities %}
            {% for period in period_activities %}
                {% if period.contacts %}
    			<table>
                    <caption>{{period.period.middle|date:"F Y"}}</caption>
    				<tr>
    					<th>Numéro/Contact</th>
    					<th>SMS envoyés</th>
                        <th>SMS reçus</th>
                        <th>SMS enregistrement</th>
                        <th>SMS suivi</th>
                        <th>SMS recherche</th>
                        <th>SMS sortie</th>
                        <th>SMS stock</th>
    				</tr>
    				{% for contact in period.contacts %}
    					<tr>
    						<td>{{ contact.identity}}</td>
                            <td>{{ contact.inbox_count }}</td>
                            <td>{{ contact.sent_count }}</td>
                            <td>{{ contact.sms_type.register|default:'0'}}</td>
                            <td>{{ contact.sms_type.fol|default:'0' }}</td>
                            <td>{{ contact.sms_type.research|default:'0' }}</td>
                            <td>{{ contact.sms_type.off|default:'0' }}</td>
                            <td>{{ contact.sms_type.stock|default:'0' }}</td>
    					</tr>
    				{% endfor %}
                    <tr>
                        <th>total</th>
                            <td>{{ period.inbox_counts }}</td>
                            <td>{{ period.sent_counts }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                    </tr>
                {% endif %}
                {% endfor %}
			</table>
		{% else %}
			<p>Il n'ya pas de messages pour cette période.<p>
		{% endif %}
	</div>

{% endblock %}
