body, #content, #page { width: 100%; margin: 0; float: none; background: #fff none; }
#header, #footer, #messages, #top-link, #content > h1, #submenu, #period_nav, button, #sidebar, .noprint, .noprint * { display: none; }
body { font: 1em Georgia, "Times New Roman", Times, serif; color: #000; }
h1,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; color: #000; }
h1 { font-size: 250%; }
h2 { font-size: 175%; }
h3 { font-size: 135%; }
h4 { font-size: 100%; font-variant: small-caps; }
h5 { font-size: 100%; }
h6 { font-size: 90%; font-style: italic; }
a { color: #000; font-weight: bold; text-decoration: none;}
/*#content a:link:after, #content a:visited:after { content: " (" attr(href) ") "; }*/
table { border-spacing: 0; border-collapse: collapse; color: #303030; width: 100%; margin-top: 1em; margin-bottom: 1em; }
tr { border-bottom: 3px solid #EBEBEB; }
th { text-transform: uppercase; padding: 4px; text-align: left; }
td { text-align: left; font-weight: normal; padding: 4px; }
tr.spacer { height: 2em; border: 0; }
